.actions:empty {
    display: none;
}

.actions-default {
    display: none;
}

.actions:empty + .actions-default {
    display: block !important;
}

.modal {
    position: absolute;
    left: 35%;
    right: 20%;
    top: 10%;
    bottom: 20%;
    max-width: 500px;
  }
