<div class="ui container">
    <div class="ui secondary pointing menu">
      <a class="item" routerLink="/">Angular Task Manager</a>
        <div class="right menu">
          <ng-container *ngIf="signedin$ | async">
            <a class="ui item" routerLink="/inbox" routerLinkActive="active">
               Taskboard
            </a>
            <a class="ui item" routerLink="/signout" [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active">
               Sign Out
            </a>
            <a class="ui item" routerLink="/profile" [routerLinkActiveOptions]="{ exact: true }"
             routerLinkActive="active">
              Your profile
            </a>
            <app-avatar></app-avatar>
         </ng-container>
         <ng-container *ngIf="!(signedin$ | async)">
            <a class="ui item" routerLink="/" [routerLinkActiveOptions]="{ exact: true }" 
            routerLinkActive="active">
               Sign In
            </a>
            <a class="ui item" routerLink="/signup" routerLinkActive="active">
               Sign Up
            </a>
         </ng-container>
        </div>
    </div>

<router-outlet></router-outlet>
</div>